<div class="comment">
    <div class="inner-comment">
      <p>
        <b>" </b>
        <%= anonymous_comment.body %><b>"</b>
      </p>
      <p class="comment-author">
        <i><b>By</b>
        <%= anonymous_comment.commenter %></i>
        <%= link_to "Like", comment_likes_path(anonymous_comment), method: :post %>  
      </p> 
        
    </div>    
</div>