<div class="comment" id="comment_<%= user_comment.id%>">
    <div class="inner-comment">
      <p>
        <b>" </b>
        <%= user_comment.body %><b>"</b>
      </p>
      <p class="comment-author">
        <i><b>By</b>
        <%= user_comment.user.full_name%> </i>
        
        <% if user_signed_in? %>
        <%= render :partial => "likes/like_button", :locals => {:comment => user_comment}%>
        <% end %>
        
      </p> 
          
    </div>    
</div>